/* Common container styles */
.apply-container-base {
  @apply w-full mx-auto bg-background-dark;
}

.apply-container-responsive {
  @apply sm:w-[600px] md:w-[1000px] lg:w-[1200px];
}

/* Selection styles */
.apply-selection {
  @apply selection:bg-background-light selection:text-background-dark;
}

/* Border styles */
.apply-border {
  @apply border-2 border-background-light;
}


/* Button-like styles */
.apply-button-base {
  @apply flex items-center justify-center p-2 text-base cursor-pointer select-none;
}

/* Article styles */
.apply-article-base {
  @apply mx-[2rem] md:mx-1 px-2 py-8 flex-1 md:px-12 md:py-0 md:my-12;
}

/* Heading styles */
.apply-heading {
  @apply mb-4 text-lg font-medium leading-normal text-center md:text-2xl;
}